<footer class="text-center text-lg-start bg-white text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Aqui podras encontrar toda nuestra informacion</span>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i><img src="/images/logo2.png" class="logo" alt=""> Club de cine
            </h6>
            <p>
              Somos un club sin animo de lucro, donde cada socio comparte sus gustos cinematicos y donde podemos estar en contacto entre nosotros y pasar un buen rato. ¡¡¡Animate a entrar y ver todo lo que ofrecemos!!!!
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Que ofrecemos
            </h6>
            <p>
              <a href="/vistaprincipal/" class="text-reset">Todos nuestros socios</a>
            </p>
            <p>
              <a href="/vistaprincipal/registro" class="text-reset">Registro gratuito</a>
            </p>
            <p>
              <a href="/vistaprincipal/login" class="text-reset">Login al perfil</a>
            </p>
            <p>
              <a href="/peliculas/nuevapelicula" class="text-reset">Añadir nueva pelicula</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Nuestras Redes
            </h6>
            <p>
                <a href="https://www.instagram.com/"
                ><img src="/images/instagram.png" alt="" class="footer"
              /></a>
            </p>
            <p>
                <a href="https://www.linkedin.com/"
                ><img src="/images/logotipo-de-linkedin.png" alt="" class="footer"
              /></a>
            </p>
            <p>
                <a href="https://www.facebook.com/"><img src="/images/facebook.png" alt="" class="footer" /></a>
            </p>
            <p>
                <a href="https://twitter.com/"><img src="/images/twitter.png" alt="" class="footer" /></a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Malaga en Calle Larios nº 24 Atico 3</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              allcinema@corporation.es
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +34 952000000 </p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +34 666555444</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">AllCinema.com</a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

