<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home allCinema</title>
  <%- include('linksHead') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="fondo"><a href="vistaprincipal"><img src="/images/entrada.jpg" alt=""></a>
  </div>
</body>
</html>
