<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/stylesheets/formulario.css">
    <%- include('linksHead') %>
</head>
<body>
    <header>
        <%- include('navbar') %>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-4"><form
            action=""
            method="post"
            enctype="multipart/form-data"
            class="p-5"
          >
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Nombre"
              aria-label=".form-control-lg example"
              name="first_name"
            />
            <br /><br />
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Apellido"
              aria-label=".form-control-lg example"
              name="last_name"
            />
            <br /><br />
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Telefono"
              aria-label=".form-control-lg example"
              name="telephone_number"
            />
            <br /><br />
            <div>
              <label for="formFileLg" class="form-label"
                >Introduce una imagen de perfil</label
              >
              <input
                class="form-control form-control-lg"
                id="formFileLg"
                type="file"
                name="img"
              />
            </div>
            <br>
              <h2 class="text-danger"><%= mensaje %></h2> 
            <br>
            <input
              class="form-control form-control-lg"
              type="email"
              placeholder="email"
              aria-label=".form-control-lg example"
              name="email"
            />
            <br /><br />
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Contraseña"
              aria-label=".form-control-lg example"
              name="password"
            />
            <br>
            <br>
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Descripcion"
              aria-label=".form-control-lg example"
              name="description"
            />
            <br /><br />
            <button class="button2" type="submit">Registrar</button>
          </form></div>
          </div>
      </div>
    </main>
    <%- include("footer") %>
    </body>
</html>